---
import '@/styles/index.css'

import { getSession } from 'auth-astro/server'
import { request } from 'graphql-request'
import { css } from 'styled-system/css'
import { container } from 'styled-system/patterns'

import { SignOutButton } from '@/components/SignOutButton'
import type { GameQuery } from '@/gql'
import { Game } from '@/gql'
import Layout from '@/layouts/Layout.astro'

const { game } = await request<GameQuery>(
  `${Astro.url.origin}/api/graphql`,
  Game,
  { id: 1 }
)

const session = await getSession(Astro.request)

if (!session) {
  return Astro.redirect('/login')
}
---

<Layout>
  <div class={container()}>
    <h1>{session ? `Welcome, ${session.user?.name}!` : 'Hello World!'}</h1>
    <img src={session.user?.image} class={css({ borderRadius: 'full' })} />
    <SignOutButton client:load />
    <pre>{JSON.stringify(game, null, 2)}</pre>
  </div>
</Layout>
