---
import '@/styles/index.css'

import { container } from 'styled-system/patterns'

import { LoginButton } from '@/components/LoginButton'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <div class={container()}>
    <h1>Hello World!</h1>
    <LoginButton client:load />
  </div>
</Layout>
